* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(25, 25, 25);
}


a {
    color: gray;
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(25, 25, 25);
    height: 60px;
    z-index: 1;





}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left {
    padding-left: 4%;
}

.nav-left a {
    padding: 4px;
}

.nav-left a:hover {
    color: white;
}

.nav-left #main {
    font-family: 'Lexend deca', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(233, 230, 224);
    padding: 6px 2px;
}

.nav-left #main:hover {
    color: white;
}

.nav-middle {
    margin-right: 680px;
    display: flex;
    align-items: center;


}

.nav-right {
    padding-left: 30px;
}

.nav-right a:hover {
    color: white;
}

.nav-middle .search-bar {
    border: 1px solid gray;
    width: 300px;
    height: 34px;
    padding: 3px 6px;
    border-radius: 5px;

}

.search-bar a {
    float: right;
    padding-top: 3px;
}

.nav-middle .search-bar input {
    border: transparent;
    width: 250px;
    height: 27px;
}

.nav-right a {
    font-family: 'Lexend deca', sans-serif;
    font-size: 18px;
    text-decoration: none;
}


.item {
    background-color: rgb(46, 44, 44);
}


#second {
    grid-area: second;
    height: 190px;
    display: flex;
    align-items: flex-start;


}

#third {
    grid-area: third;
    height: 200px;


}

.container2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:

        'second second second third ';
    margin-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

#fourth {
    grid-area: second;
    height: 150px;


}

#fifth {

    grid-area: third;
    height: 500px;
    margin-top: 10px;
    margin-left: 140px;

}

#second img {
    width: 150px;
    height: 190px;
}

.item i {
    background-color: gray;
}

.container {


    margin-top: 10px;
    margin-left: 3%;

}

.vid-list {
    display: flex;
    align-items: flex-start;
    background-color: rgb(46, 44, 44);
}

.vid-list img {
    width: 150px;

}

.info {
    padding-left: 8px;
    background-color: rgb(46, 44, 44);

}

.info a {
    color: rgb(156, 167, 231);
    text-decoration: none;
    font-family: 'Lexend deca', sans-serif;
    font-size: 25px;
    background-color: rgb(46, 44, 44);

}

.info a:hover {
    color: beige;
}

.vid-list p {
    color: gray;
    font-family: 'Lexend deca', sans-serif;
    font-size: 15px;
    padding-top: 18px;
    background-color: rgb(46, 44, 44);
    font-weight: 550;
}

.vid-list p i {
    background-color: rgb(46, 44, 44);
}

.last {
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 44, 44);
}

.last i {
    background-color: rgb(46, 44, 44);
    color: gray;
    padding-right: 25px;
    font-weight: 1000;

}

.note {

    padding-top: 12px;
    background-color: rgb(46, 44, 44);
    margin-top: 15px;

}

.note p {
    padding-left: 1%;
    color: gray;
    font-family: 'Lexend deca', sans-serif;
    font-size: 15px;
    background-color: rgb(46, 44, 44);
    font-weight: 550;
}

.note p i {
    background-color: rgb(46, 44, 44);
}

.note button {
    width: 100%;
    border: transparent;
    cursor: pointer;
    color: gray;
    background-color: rgb(46, 44, 44);
}

.note button i {
    background-color: rgb(46, 44, 44);
}

.block {
    margin-top: 10px;
    background-color: rgb(46, 44, 44);
    width: 350px;
    height: 230px;

}

.block2 {
    margin-top: 15px;
    background-color: rgb(46, 44, 44);
    width: 350px;
    height: 1000px;
}

.full {
    display: grid;
    grid-template-areas: 'container container container right';
    grid-gap: 1rem;
}



.reg a {
    color: rgb(150, 150, 241);
}

.reg a:hover {
    color: beige;
}

.myinfo button {
    width: 33%;
    margin-left: 3px;
    background-color: rgb(160, 194, 224);
    padding: 10px;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
}

.reg {
    margin-left: 10px;
    background-color: rgb(46, 44, 44);
}

.block hr {
    margin-top: 20px;
    border: 1px solid gray;
}

.google {
    display: block;
    margin: auto;
    width: 120px;
    height: 30px;
    background-color: rgb(46, 44, 44);
    padding-top: 25px;
}

.google i {
    background-color: white;
    padding: 4px;
}

.google i:hover {
    cursor: pointer;
}

.google a {
    color: white;
    font-style: normal;
    padding: 4px;



    text-decoration: none;

    background-color: rgb(150, 150, 241);
}

.options {
    margin-top: 25px;
    width: 100%;
}

.opt a {
    background-color: rgba(184, 181, 181, 0.137);
    text-decoration: none;
    font-style: normal;
    font-family: 'Lexend deca', sans-serif;
    padding: 10px;
    margin-right: 4px;
    font-size: 20px;
    color: rgb(150, 150, 241);
}

.opt span {
    float: right;

}

.opt span i {
    border: 2px solid white;
    background-color: rgb(164, 164, 231);
    padding: 4px;
}

.opt span i:hover {
    background-color: rgb(162, 193, 204);
    cursor: pointer;

}

.opt a:hover {
    color: white;
    background-color: rgba(197, 195, 195, 0.363);
}

hr {
    margin-top: 8px;
    border: 1px solid gray;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 30px;

}


.vid-info p {
    font-family: 'Lexend deca', sans-serif;
    text-decoration: none;
    color: rgb(142, 142, 233);
    padding-left: 55px;
    padding-top: 10px;
    background-color: rgb(46, 44, 44);

}

.vid-info .ep {
    padding-left: 65px;
}

.vid-info a {
    text-decoration: none;
}


.vid-info p #ep {
    color: gray;

}

.appscard img {
    width: 100%;

}

.appscard:hover {
    transform: scale(0.96);
}

.footer1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 34, 34);
    margin-top: 1%;




}

.left-btn {
    padding-top: 15px;
    margin-left: 5%;
    margin-bottom: 1%;
    background-color: rgb(36, 34, 34);
}

.left-btn i {
    background-color: rgb(36, 34, 34);
}

.left-btn span {
    background-color: rgb(36, 34, 34);

}

.right-btn {
    padding-top: 15px;
    margin-right: 5%;
    margin-bottom: 1%;
    background-color: rgb(36, 34, 34);
}

.right-btn span {
    background-color: rgb(36, 34, 34);
}

.right-btn i {
    background-color: rgb(36, 34, 34);
}

.para1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}

.para1 p {
    background-color: rgb(8, 8, 8);
    color: gray;
    font-family: 'Lexend deca', sans-serif;
}

.para2 p {
    background-color: rgb(8, 8, 8);
    color: gray;
    font-family: 'Lexend deca', sans-serif;
}

.para2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}

.footer2 {
    height: 100px;
    background-color: rgb(8, 8, 8);
}

.paragraphs p {
    margin-top: 20px;

}

.upper-section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 44, 44);
}

.upper-section .left .box1 {
    background-color: rgb(109, 108, 108);
    width: 120px;
    height: 20px;
}

.upper-section .left .box1 i {
    float: right;
}

.upper-section .left {
    margin-left: 10px;
}

.upper-section .left {
    margin-top: 10px;
}

.upper-section .center {
    margin-top: 10px;
}

.upper-section .left .box1 span {
    background-color: rgb(109, 108, 108);
    cursor: default;
}

.upper-section .left .box1 i {
    background-color: rgb(109, 108, 108);
}

.upper-section {
    padding-top: 15px;
}

.upper-section .left {
    color: rgb(241, 238, 238);
    font-family: 'Lexend deca', sans-serif;


}


.upper-section .left h5 {
    background-color: rgb(46, 44, 44);
    cursor: default;
}

.upper-section .center .box2 {
    background-color: rgb(109, 108, 108);
    width: 120px;
    height: 20px;
}

.upper-section .center h5 {
    background-color: rgb(46, 44, 44);
    cursor: default;
}

.upper-section .center {
    color: rgb(241, 238, 238);
    font-family: 'Lexend deca', sans-serif;


}

.upper-section .center span {
    background-color: rgb(109, 108, 108);
    cursor: default;
}

.upper-section .center .box2 i {
    float: right;
    background-color: rgb(109, 108, 108);
}

.right1 {
    margin-right: 20px;
    margin-top: 26px;


}

.right1 .go-btn {
    width: 40px;
    background-color: rgb(160, 194, 224);

    border: 1px solid white;
}

.right1 .go-btn:hover {
    cursor: pointer;
}

.right1 .go-btn span {

    background-color: rgb(160, 194, 224);
    color: blue;
    padding-left: 7px;


}


.left .box1 span {
    padding-left: 3px;

}

.left .box1 i {
    padding-right: 3px;
    color: rgb(241, 238, 238);
}

.center .box2 span {
    padding-left: 3px;

}

.center .box2 i {
    padding-right: 3px;
    color: rgb(241, 238, 238);
}

.genre-head {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 44, 44);
    margin-top: 7px;
}

.genre-head span {
    background-color: rgb(46, 44, 44);
    font-family: 'Lexend deca', sans-serif;
    color: white;
    font-weight: 700;
}


.genres {
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 44, 44);
}

.topics1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 44, 44);
}

.topics2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 44, 44);
}

.topics2 a {
    background-color: rgb(46, 44, 44);
    padding-right: 100px;
    text-decoration: none;
    padding-top: 7px;
    color: rgb(241, 238, 238);
}

.topics1 a {
    background-color: rgb(46, 44, 44);
    padding-left: 10px;
    text-decoration: none;
    padding-top: 7px;
    color: rgb(241, 238, 238);
}

.topics1 a:hover {
    background-color: rgb(36, 35, 35);
}

.more {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 44, 44);
    margin-top: 10px;
}

.more i {
    background-color: rgb(46, 44, 44);
}

.head2 {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 44, 44);
    margin-top: 7px;
}

.head2 span {
    background-color: rgb(46, 44, 44);
    font-family: 'Lexend deca', sans-serif;
    color: white;
    font-weight: 700;
}

.series a img {
    width: 50px;
    background-color: rgb(46, 44, 44);

}

.series {
    margin-top: 10px;
    background-color: rgb(46, 44, 44);
    padding-left: 10px;
}

.list {
    display: flex;
    align-items: flex-start;
    background-color: rgb(46, 44, 44);
}

.rating p {
    color: gray;
    background-color: rgb(46, 44, 44);
    padding-top: 8px;
}

.rating p i {
    background-color: rgb(46, 44, 44);
}

.rating p span {
    background-color: rgb(46, 44, 44);
}

.ser-info {
    background-color: rgb(46, 44, 44);
    padding-left: 15px;
}

.ser-info a {
    background-color: rgb(46, 44, 44);
    text-decoration: none;
    color: rgb(136, 125, 207);
}

.ser-info a:hover {
    color: rgb(199, 194, 226);
}

.more-tops {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 44, 44);
}

.more-tops i {
    background-color: rgb(46, 44, 44);
}

.login {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: rgb(46, 44, 44);
}

.myinfo1 input {
    margin: 10px;
    padding: 5px;
    border: transparent;

}

.myinfo1 {
    background-color: rgb(46, 44, 44);
}

.log {
    background-color: rgb(46, 44, 44);
    margin-top: 25px;
    margin-right: 10px;

}

.log button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid white;
    color: rgb(69, 43, 233);

    font-size: 18px;
    background-color: rgb(164, 164, 231);

}

.log button:hover {
    cursor: pointer;
}

.rem-checkbox {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    background-color: rgb(46, 44, 44);
}

.rem-checkbox a {
    text-decoration: none;
    margin-left: 10px;
    background-color: rgb(46, 44, 44);


}

.rem-checkbox span {
    color: rgb(145, 136, 204);
    margin-right: 10px;
    background-color: rgb(46, 44, 44);
}

.rem-checkbox span:hover {
    color: aliceblue;
    cursor: pointer;
}

.load-more {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.load-more button {
    width: 180px;
    padding: 10px;
    background-color: rgb(164, 164, 231);
    color: blue;
    border-radius: 6px;
    font-family: 'Lexend deca', sans-serif;
    font-size: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.load-more button i {
    background-color: rgb(164, 164, 231);
}

.right-btn span {
    display: flex;

}

.right-btn span a {
    padding-left: 6px;

    background-color: rgb(36, 34, 34);
}

.right-btn input {
    display: none;
}

.right-btn label {
    display: block;
    width: 50px;
    height: 20px;
    position: relative;

    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.right-btn label::before {
    position: absolute;
    top: 45%;
    left: 3px;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 40%;
    height: 85%;
    background-color: gray;
    border-radius: 50%;
}

.right-btn input:checked+label {
    background-color: black;
}

.right-btn input:checked+label::before {
    left: 28px;

}

.box1-elements ul {
    list-style: none;

}

.box1-elements ul li {
    padding: 1px;

}

.box1-elements ul li:hover {
    background-color: blue;
    cursor: default;
}

.box1-elements {
    border: 1px solid white;
    z-index: 1;
    position: relative;

}

.box2-elements ul {
    list-style: none;

}

.box2-elements ul li {
    padding: 1px;

}

.box2-elements ul li:hover {
    background-color: blue;
    cursor: default;
}

.box2-elements {
    border: 1px solid white;
    z-index: 1;
    position: relative;
}

.quicksearch {
    width: 50%;
    border: 2px solid gray;
    margin-left: 20%;
    height: 50px;
    z-index: 1;
    position: absolute;
}

.quicksearchlinks {
    padding-top: 12px;
    padding-left: 14px;
}

.quicksearchlinks a {
    text-decoration: none;
    padding: 5px;
    background-color: rgb(70, 69, 69);
    text-align: center;
    color: skyblue;
    border-radius: 5px;


}

.quicksearchlinks a:hover {
    color: blue;
}